<% layout('layout/boiler') %>
<section class="frontpage-slider">
    <div class="owl-slider owl-slider-header">

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/img1.jpeg)">
            <div class="box text-center">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">Beach side cabbana tent</h2>
                    <div class="desc animated" data-animation="fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nobis asperiores. </div>
                    <div class="desc animated" data-animation="fadeInUp">voluptatem, dolorem ipsum fugit eveniet odio omnis harum amet et necessitatibus soluta quam. Molestiae, quae.</div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="#" class="btn btn-clean">View >></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/img2.jpeg)">
            <div class="box text-center">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        cannopy dining <br /> <span>pure prestige</span>
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nobis asperiores.
                    </div>
                    <div class="desc animated" data-animation="fadeInUp">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nobis asperiores.
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="https://themeforest.net/item/colina-hotel-website-template/20977257" class="btn btn-clean">View >></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->

        <div class="item" style="background-image:url(assets/images/img3.jpeg)">
            <div class="box text-center">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        candle light dinner at beach <br />
                        
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        The Residences have their own dedicated private entrance as well <br />
                        as an anonymous "celebrity" entrance, for ultimate privacy.
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="#" class="btn btn-clean">View >></a>
                    </div>
                </div>
            </div>
        </div>


    </div> <!--/owl-slider-->
</section>

<!-- ========================  Rooms ======================== -->

<section class="rooms rooms-widget rooms-inner">

    <!-- === rooms header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Birthday parties and events <a href="/resorts" class="btn btn-sm btn-clean">View all</a></h2>
            <p>Designed as a privileged almost private place where you'll feel right at home</p>
        </div>
    </div>

    <!-- === rooms content === -->

    <div class="container">

        <div class="owl-rooms owl-theme">

            <!-- === rooms item === -->

            <div class="item">
                <article>
                    <div class="image">
                        <img src="https://photos.google.com/photo/AF1QipOCnOpX5CZ-iOb4LmVsH_AzMWRVobGsoyx8Sppc" alt="" />
                        
                    </div>
                    <div class="details">
                        <div class="text">
                            <h3 class="title"><a href="room-overview.html">Blue 6 Beach Resort</a></h3>
                            <p>Single room</p>
                        </div>
                        <div class="book">
                            <div>
                                <a href="room-overview.html" class="btn btn-main">Book now</a>
                            </div>
                            <div>
                                <span class="price h4">$ 98,00</span>
                                <span>per night</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- === rooms item === -->

            <div class="item">
                <article>
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1537640685236-a9df2496e232?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlYWNoJTIwcmVzb3J0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" />
                    </div>
                    <div class="details">
                        <div class="text">
                            <h3 class="title"><a href="room-overview.html">Royal Beach Resort</a></h3>
                            <p>Double room</p>
                        </div>
                        <div class="book">
                            <div>
                                <a href="room-overview.html" class="btn btn-main">Book now</a>
                            </div>
                            <div>
                                <span class="price h4">$ 129,00</span>
                                <span>per night</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- === rooms item === -->

            <div class="item">
                <article>
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmVhY2glMjByZXNvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="" />
                    </div>
                    <div class="details">
                        <div class="text">
                            <h3 class="title"><a href="">Raja Beach Resort</a></h3>
                            <p>Queen size bed</p>
                        </div>
                        <div class="book">
                            <div>
                                <a href="room-overview.html" class="btn btn-main">Book now</a>
                            </div>
                            <div>
                                <span class="price h4">$ 159,00</span>
                                <span>per night</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- === rooms item === -->

            <div class="item">
                <article>
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmVhY2glMjByZXNvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="" />
                    </div>
                    <div class="details">
                        <div class="text">
                            <h3 class="title"><a href="room-overview.html">Happy days Beach Resort</a></h3>
                            <p>Family room</p>
                        </div>
                        <div class="book">
                            <div>
                                <a href="room-overview.html" class="btn btn-main">Book now</a>
                            </div>
                            <div>
                                <span class="price h4">$ 199,00</span>
                                <span>per night</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div><!--/owl-rooms-->

    </div> <!--/container-->

</section>


<!-- ======================== Booking ======================== -->        

<!-- <section class="booking booking-default-theme">

    <div class="section-header">
        <div class="container">
            <h2 class="title">Check Availability</h2>
        </div>
    </div>

    <div class="booking-wrapper">

        <div class="container">
            <div class="row">

                

                <div class="col-xs-4 col-sm-3">
                    <div class="date" id="dateArrival" data-text="Arrival">
                        <input class="datepicker" readonly="readonly" />
                        <div class="date-value"></div>
                    </div>
                </div>

                

                <div class="col-xs-4 col-sm-3">
                    <div class="date" id="dateDeparture" data-text="Departure">
                        <input class="datepicker" readonly="readonly" />
                        <div class="date-value"></div>
                    </div>
                </div>

                

                <div class="col-xs-4 col-sm-2">

                    <div class="guests" data-text="Guests">
                        <div class="result">
                            <input class="qty-result" type="text" value="2" id="qty-result" readonly="readonly" />
                            <div class="qty-result-text date-value" id="qty-result-text"></div>
                        </div>
                        
                        <ul class="guest-list">

                            <li class="header">
                                Please choose number of guests <span class="qty-apply"><i class="icon icon-cross"></i></span>
                            </li>

                        

                            <li class="clearfix">

                                

                                <div>
                                    <input class="qty-amount" value="2" type="text" id="ticket-adult" data-value="2" readonly="readonly" />
                                </div>

                                <div>
                                    <span>Adults <small>16+ years</small></span>
                                </div>

                                

                                <div>
                                    <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-adult" />
                                    <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-adult" />
                                </div>

                            </li>

                            

                            <li class="clearfix">

                                

                                <div>
                                    <input class="qty-amount" value="0" type="text" id="ticket-children" data-value="0" readonly="readonly" />
                                </div>

                                

                                <div>
                                    <span>Children <small>2-11 years</small></span>
                                </div>


                                

                                <div>
                                    <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-children" />
                                    <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-children" />
                                </div>

                            </li>

                            

                            <li class="clearfix">

                                

                                <div>
                                    <input class="qty-amount" value="0" type="text" id="ticket-infants" data-value="0" readonly="readonly" />
                                </div>

                                

                                <div>
                                    <span>Infants <small>Under 2 years</small></span>
                                </div>

                                

                                <div>
                                    <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-infants" />
                                    <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-infants" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                

                <div class="col-xs-12 col-sm-4">
                    <a href="reservation-1.html" class="btn btn-clean">
                        Book now
                        <small>Best Prices Guaranteed</small>
                    </a>
                </div>

            </div> 
        </div>
    </div> 
</section> -->


<!-- ========================  Stretcher widget ======================== -->

<section class="stretcher-wrapper">

    <!-- === stretcher header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Events <a href="facility.html" class="btn btn-sm btn-clean-dark">Explore more</a></h2>
            <p>
                Get your events done according to your need
            </p>
        </div>
    </div>

    <!-- === stretcher === -->

    <ul class="stretcher">

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/event1.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Birthday</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Birthday</h4>
                <figcaption>Unparalleled devotion to luxury</figcaption>
            </figure>
            <!--anchor-->
            <a href="facility.html">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/event2.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Dine In</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Dine In</h4>
                <figcaption>Care about results</figcaption>
            </figure>
            <!--anchor-->
            <a href="facility.html">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/event3.jpg);">
            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Concerts</span>
                </div>
            </div>
            <figure>
                <h4>Concerts</h4>
                <figcaption>Your daily activities</figcaption>
            </figure>
            <!--anchor-->
            <a href="facility.html">Anchor link</a>
        </li>

        <!-- === stretcher item === -->

        <li class="stretcher-item" style="background-image:url(assets/images/services-4.jpg);">


            <!--logo-item-->
            <div class="stretcher-logo">
                <div class="text">
                    <span class="text-intro h4">Anniversary</span>
                </div>
            </div>
            <!--main text-->
            <figure>
                <h4>Anniversary</h4>
                <figcaption>Happy Moments</figcaption>
            </figure>
            <!--anchor-->
            <a href="facility.html">Anchor link</a>
        </li>

        <!-- === stretcher item more === -->

        <li class="stretcher-item more">
            <div class="more-icon">
                <span data-title-show="Show more" data-title-hide="+"></span>
            </div>
            <a href="/events">Anchor link</a>
        </li>

    </ul>
</section>

<!-- ========================  Blog ======================== -->

<section class="blog blog-widget">

    <!-- === stretcher header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Blogs  </h2>
            <!-- <a href="blog-category.html" class="btn btn-sm btn-clean-dark">Explore more</a> -->
            <p>
                Get inspired from these latest blogs
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- === article item === -->

            <div class="col-sm-4">
                <a href="https://ourkindofcrazy.com/blog/beach-dates/">
                    <article>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1528855275993-0f4a23fedd62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNoJTIwZGF0ZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="" />
                        </div>
                        <div class="text">
                            <div class="time">
                                <span>22</span>
                                <span>05</span>
                                <span>2014</span>
                            </div>
                            <h2 class="h4 title">
                                Beach Date Ideas: Cute and Romantic Beach Dates
                            </h2>
                        </div>
                    </article>
                </a>
            </div>

            <!-- === article item === -->

            <div class="col-sm-4">
                <a href="https://www.mydomaine.com/things-to-do-on-your-anniversary">
                    <article>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1606217239582-d9f72323bcd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWFycmlhZ2UlMjBhbm5pdmVyc2FyeXBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" />
                        </div>
                        <div class="text">
                            <div class="time">
                                <span>22</span>
                                <span>05</span>
                                <span>2014</span>
                            </div>
                            <h2 class="h4 title">
                                34 Totally Fun Things to Do on Your Anniversary
                            </h2>
                        </div>
                    </article>
                </a>
            </div>

            <!-- === article item === -->

            <div class="col-sm-4">
                <a href="https://bucketlistjourney.net/things-to-do-on-your-birthday/">
                    <article>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1602631985686-1bb0e6a8696e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlydGhkYXklMjBwYXJ0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="" />
                        </div>
                        <div class="text">
                            <div class="time">
                                <span>22</span>
                                <span>05</span>
                                <span>2014</span>
                            </div>
                            <h2 class="h4 title">
                                Birthday Bucket List:
                            </h2>
                        </div>
                    </article>
                </a>
            </div>

        </div> <!--/row-->
    </div> <!--/container-->
</section>

<!-- ========================  Cards ======================== -->

<section class="cards">

    <!-- === cards header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Near by <a href="#" class="btn btn-sm btn-clean-dark">View all</a></h2>
            <p>Here's a selection of ionic sites related to art, fashion and design.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- === item === -->

            <div class="des col-xs-12 col-md-8 dis">
                <figure>
                    <figcaption style="background-image:url('assets/images/suryakalbeach.jpg')">
                        <img src="assets/images/" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean" onclick="">suryakala beacch</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/vbeach.jpg)">
                        <img src="assets/images/activity-2.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Vodarevu beach</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-3.jpg)">
                        <img src="assets/images/activity-3.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Food & drink</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-4.jpg)">
                        <img src="assets/images/activity-4.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">Shopping</a>
                </figure>
            </div>

            <!-- === item === -->

            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-5.jpg)">
                        <img src="assets/images/activity-5.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean">The City</a>
                </figure>
            </div>

        </div> <!--/row-->

    </div> <!--/container-->
</section>


<!-- ======================== Image blocks ======================== -->



<!-- ======================== Quotes ======================== -->

<section class="quotes quotes-slider" style="background-image:url(assets/images/header-1.jpg)">
    <div class="container">

        <!-- === Quotes header === -->

        <div class="section-header">
            <h2 class="title">Testimonials</h2>
            <p>What other think about us</p>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="quote-carousel">

                    <!-- === quoute item === -->

                    <div class="quote">

                        <div class="text">
                            <h4>sandeep singh</h4>
                            <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div> 

                    <!-- === quoute item === -->

                    <div class="quote">
                        <div class="text">
                            <h4>yash punna</h4>
                            <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quoute item === -->

                    <div class="quote">
                        <div class="text">
                            <h4>naveen burla</h4>
                            <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quoute item === -->

                    <div class="quote">
                        <div class="text">
                            <h4>sairam gundu</h4>
                            <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>

                    <!-- === quoute item === -->

                    <div class="quote">
                        <div class="text">
                            <h4>ranu sita</h4>
                            <p>Ipsum dolore eros dolore <br />dolor dolores sit iriure</p>
                        </div>
                        <div class="more">
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>
                </div> <!--/quote-carousel-->
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</section>

<!-- ========================  Subscribe ======================== -->

<section class="subscribe">
    <div class="container">
        <div class="box">
            <h2 class="title">Get a Call back</h2>
            <div class="text">
                <p>Enter your phone numbar</p>
            </div>
            <div class="form-group">
                <form action="/" method="post">
                <input type="text" value="" name="num" id="num" placeholder="phone no" class="form-control" />
                <button class="btn btn-sm btn-main">Go</button>
                </form>
            </div>
        </div>
    </div>
</section> 
<style>
   
    .des{
        visibility: visible;
    }
    @media only screen and (max-width: 800px) {
  .des{
      visibility: hidden;
      
  }
}
   
</style>